NODE_ENV=development #change to production if deploying to production

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----YOUR-PUBLIC-KEY-HERE-----END PUBLIC KEY-----"
SENDGRID_API_KEY=your-sendgrid-api-key

RESET_URL_DEV=exp://YOUR_LOCAL_IP:8081/--
RESET_URL_PROD=watchedit://