SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-key
SUPABASE_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEv6js5wlAer65IlEM6NHwBXuhPfFQ\nogSiBRcOQCqFgs3R3J1yhmVAiNZ/YqxeIwnjXLsQQk45EY7DItflLz2LlQ==\n-----END PUBLIC KEY-----"